.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  /* background-color: rgb(23, 23, 23); */
}

.interface {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* background-color: rgb(23, 23, 23); */
}

.interface h3 {
  margin: 0.7rem;
}

.search-bar {
  position: relative;
  margin-bottom: 8rem;
}

.search-input {
  width: 30rem;
  font-size: 16px;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 10px 10px 50px #c5c5c5, 0px 0px 50px #ffffff;
  transition: 0.3s;
}

.search-input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.suggestions {
  height: 10rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: none;
  border: none;
  border-top: none;
  width: 32rem;
  display: none;
  overflow: scroll;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background: #e8e8e8;
  /* box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff; */
  transition: 0.3s;
}

.suggestions li:hover {
  background-color: #e9e9e9;
}

.download-button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .search-input {
    width: 20rem;
  }

  .suggestions {
    width: 22rem;
  }
}
