* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("image/f36da93324565588e8a274e727fc18d8-removebg-preview.png"),
    auto;
}

#notice-bar {
  height: 2rem;
  background-color: hsl(0, 0%, 84%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 1rem;
}

#notice-text {
  flex-grow: 1;
  font-weight: bold;
  color: #7c7c7c;
}

#close-button {
  display: flex;
  align-items: center;
  background-color: #cccccc00;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f8f7f7;
}

.header {
  /* position: sticky;
  top: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  /* background-color: black; */
}

.header h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(70, 70, 70);
  padding: 2rem;
  padding-left: 4rem;
}

.header ul {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  list-style: none;
  color: rgb(70, 70, 70);
}

.header ul a {
  margin-right: 4rem;
  cursor: pointer;
  text-decoration: none;
  color: #2a2a2a;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: rgb(23, 23, 23); */
}

.search-doll {
  height: 10rem;
}

.interface {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* background-color: rgb(23, 23, 23); */
}

.interface h3 {
  margin: 0.7rem;
}

.search-bar {
  position: relative;
  margin-bottom: 8rem;
}

.search-input {
  width: 30rem;
  font-size: 16px;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.search-input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.suggestions {
  height: 10rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: none;
  border: none;
  border-top: none;
  width: 32rem;
  display: none;
  overflow: scroll;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background: #e8e8e8;
  /* box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff; */
  transition: 0.3s;
}

.suggestions li:hover {
  background-color: #e9e9e9;
}

.download-button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

/* about container */

.aboutcontainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #f8f7f7;
}

.aboutcontainer .h1 {
  text-align: left;
  width: 44rem;
  margin: 2rem;
  text-align: justify;
}
.aboutcontainer .h1 h1 {
  color: #2a2a2a;
}
.aboutcontainer .h1 p {
  font-size: 1.5rem;
  color: rgb(167, 166, 166) 4;
  margin-top: 0.5rem;
}

.howto-video {
  width: 30rem;
  height: 30rem;
}

.howto-video video {
  max-width: 100%;
  max-height: 100%;
}

/* about page */

.githubcontainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #f8f7f7;
}

.about-gitlogo {
  width: 30rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-gitlogo img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(6px 6px 12px #919191, -6px -6px 12px #6e6e6e);
}

.githubcontainer .about {
  text-align: left;
  width: 44rem;
  margin: 2rem;
  text-align: justify;
}
.githubcontainer .about h1 {
  color: #2a2a2a;
}
.githubcontainer .about p {
  font-size: 1.5rem;
  color: rgb(167, 166, 166) 4;
  margin-top: 0.5rem;
  text-align: justify;
}
.about button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #090909;
  margin-top: 2rem;
  padding: 0.7em 1.2em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.about button svg {
  padding-right: 1rem;
}
.about button svg path {
  fill: #181717;
}
.about button .text {
  font-size: 1.2rem;
  margin: 0;
}

.about button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
/* contact page */

.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #f8f7f7;
}

.contactform {
  width: 30%;
  height: 40%;
  padding: 40px;
  color: #090909;
  background-color: transparent;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.contactform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background-color: transparent;
  margin-bottom: 20px;
}

.contactform .inputBox span {
  position: absolute;
  left: 35%;
  padding: 5px 0;
  font-size: 16 px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span {
  color: #666;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"] {
  width: 100px;
  color: #090909;
  padding: 0.7rem;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

@media only screen and (max-width: 650px) {
  .header {
    justify-content: center;
  }
  .header h2 {
    padding: 0;
  }
  .header ul {
    display: none;
  }
  .search-bar input {
    width: 20rem;
  }
  .suggestions {
    width: 22rem;
  }
  .aboutcontainer {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .aboutcontainer .h1 {
    width: 30rem;
  }
  .githubcontainer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-gitlogo {
    display: none;
  }
  .githubcontainer .about {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  .about {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    text-align: justify;
  }

  .about button {
    width: 9rem;
  }
  .contactform {
    width: 20rem;
    height: 20rem;
  }
  .contactform .inputBox span {
    left: 19%;
  }
}

@media only screen and (max-width: 404px) {
  .header {
    justify-content: center;
  }
  .header h2 {
    padding: 0;
  }
  .header ul {
    display: none;
  }
  .search-bar input {
    width: 20rem;
  }
  .suggestions {
    width: 22rem;
  }
  .aboutcontainer {
    flex-wrap: wrap;
  }
  .aboutcontainer .h1 {
    width: 20rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .aboutcontainer .h1 p {
    font-size: 1.2rem;
  }
  .howto-video {
    width: 20rem;
    height: 20rem;
  }
  .githubcontainer {
    flex-wrap: wrap;
  }
  .about-gitlogo {
    display: none;
  }
  .githubcontainer .about {
    width: 20rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .githubcontainer .about p {
    font-size: 1.2rem;
  }
  .about button {
    width: 9rem;
    position: relative;
    left: 25%;
  }
  .contactform {
    width: 17rem;
    height: 19rem;
  }
  .contactform .inputBox span {
    left: 16%;
  }
}

@media only screen and (max-width: 350px) {
  .header {
    justify-content: center;
  }
  .header h2 {
    padding: 0;
  }
  .header ul {
    display: none;
  }
  .search-bar input {
    width: 18rem;
  }
  .suggestions {
    width: 20rem;
  }
  .aboutcontainer {
    flex-wrap: wrap;
  }
  .aboutcontainer .h1 {
    width: 20rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .aboutcontainer .h1 p {
    font-size: 1.2rem;
  }
  .howto-video {
    width: 20rem;
    height: 20rem;
  }
  .githubcontainer {
    flex-wrap: wrap;
  }
  .about-gitlogo {
    display: none;
  }
  .githubcontainer .about {
    width: 20rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .githubcontainer .about p {
    font-size: 1.2rem;
  }
  .about button {
    width: 9rem;
    position: relative;
    left: 25%;
  }
  .contactform {
    width: 14rem;
    height: 19rem;
  }
  .contactform .inputBox span {
    left: 18%;
  }
}
